.page-mission {
	height: 100%;
	overflow: auto;

	&>div {
		height: 100%;
	}

	h3 {
		@extend %header-medium;
	}

	.mission-list {
		flex: 1;

		.choosed {
			background-color: $n020a;
		}
	}

	.mission-desc {
		flex: 0 0 392px;
		background-color: $n000;

		.phase {
			@extend %p-primary;
		}

		.desc {
			@extend %p-secondary;
		}

		h4 {
			font-size: 0;

			span.title {
				@extend %header-small;
			}

			span.times {
				@extend %p-secondary;
			}

		}

		p.historp-report {
			// font-size: 0;
			@extend %p-small;

			span.infos {}
		}
	}
}
