{{#bp-layout direction="col" local-class="page-scenario" 
	classNames="p-4"}}
	{{#bp-page-header class="mb-4" local-class='scenario-header' as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item}}
					{{model.proposal.name}}
				{{/left.item}}
				{{#left.item}}
					{{model.scenario.name}}
				{{/left.item}}
			{{/body.left}}
			{{#body.right}}
				{{#bp-button classNames="mr-1" }}保存{{/bp-button}}
				{{#bp-button type='primary' onClick=(action 'submit') }}提交执行{{/bp-button}}
			{{/body.right}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-tabs local-class="tabs-container" as |tabs|}}
		{{#tabs.tablist as |list|}}
			<li class="nav-item">
				{{#list.link-to 'page-scenario.index' 
					classNames='nav-link'  }}
					业务决策{{/list.link-to}}
			</li>
			<li class="nav-item">
				{{#list.link-to 'page-scenario.reference' 
					classNames='nav-link' }}
					参考信息
				{{/list.link-to}}
			</li>
			<li class="nav-item">
				{{#list.link-to 'page-scenario.decision-review' 
					classNames='nav-link' }}
					本期决策回顾
				{{/list.link-to}}
			</li>
		{{/tabs.tablist}}
		{{outlet}}
	{{/bp-tabs}}
{{/bp-layout}}
{{#bp-modal
		open=warning.open 
		position='center'
		onSubmit=(action "submit") 
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			提交执行
		</h4>
	{{/modal.header}}
	{{#modal.body}}
		<p>
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
		{{!-- {{#bp-button type="danger"}}Delete{{/bp-button}} --}}
		{{!-- {{#bp-button type="success" onClick=(action modal.submit)}}Save{{/bp-button}} --}}
	{{/modal.footer}}
{{/bp-modal}}