{{#bp-layout local-class="login"}}
	<div local-class="input left" class="p-4">
		<div local-class="area">
			<h2 local-class="title" class="mb-2">PHARBERS 数据整合平台</h2>
			<p local-class="desc">不止于数据，让决策更精彩</p>
			{{insert-dom content=model}}
		</div>
	</div>
	<div local-class="img">
	</div>
{{/bp-layout}}