{{#bp-layout tagName="header"  main="between" cross='center'
		local-class="header" classNames="bg-white px-4"}}
	{{#link-to "application" tagName="p"  classNames="m-0"}}
		<img src="/assets/images/logo_tmist.png" alt="tmist logo" class="mr-3">
	{{/link-to}}
	{{#if (bp-eq testProgress 1)}}
		{{#bp-button onClick=(action "endMission")}}结束任务{{/bp-button}}
	{{else if (bp-eq testProgress 2)}}
		<span local-class="button-area">
			{{#bp-button type="subtle"  classNames="mr-3"}}
				任务通知
				{{#bs-popover placement="bottom" title="" local-class="rule"}}
					这是您本期的任务内容，
					我们将在您提交执行决策后，对您的决策的结果和表现进行评估。<br>
					期待您为公司带来业绩上的增长和团队能力的提升!
				{{/bs-popover}}
			{{/bp-button}}
			{{#bp-button onClick=(action "exitMission")}}退出任务{{/bp-button}}
		</span>
	{{else}}
		{{#bp-dropdown widthSize="auto"
			local-class="dd-medicines dd-area" as |dd|}}
			{{#dd.button tagName="span" classNames="bg-white"}}
				<img src="/assets/images/logo.png" alt="user avatar">
			{{/dd.button}}
			{{#dd.menu align="right" as |menu|}}
				{{#menu.option onClick=(action 'logout')}}
					账号设置
				{{/menu.option}}
				{{#menu.option onClick=(action 'logout')}}
					退出账号
				{{/menu.option}}
			{{/dd.menu}}
		{{/bp-dropdown}}
	{{/if}}
{{/bp-layout}}
<section local-class="container">
	{{outlet}}
</section>